<div id="currentGame" class="inGame">
  <div class="gameControlsContainer">
    <div class="gameControls">
      <div class="timeControls">
        <div class='rewind control' data-action="rewind" title="Rewind 1 minute">&laquo;</div>
        <div class='gameClock' data-start-time="{{startTime}}">00:00</div>
        <div class='fastforward control' data-action="fastforward" title="Fast forward 1 minute">&raquo;</div>
      </div>
      <div class="verticalSeparator"></div>
      <div class="buttons">
        <div class="reroll" data-action="reroll" title="Reroll this game"></div>
        <div class="close" data-action="close" title="Exit this game screen">&times;</div>
      </div>
    </div>
  </div>
  <div class="my team">
      {{#each myTeam}}
        <div class="champCard">
          <div class="top">
            <div class="champPic" title="{{champName champId}}">
              <img src="{{champSprite champId}}"/>
            </div>
            <div class="stats">
              <div class="name">{{name}}</div>
              <div class="currentOdds">{{updatingKSOdds ../myChampId champId ../startTime}}%</div>
              <div class="itemSuggestions">
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
              </div>
            </div>
          </div>
          <div class="bottom">
            <div class="chartContainer">
              <div data-chart-marker class="chartMarker"></div>
              <canvas class="chart" height="60px" data-chart-ks-odds data-my-champ="{{../myChampId}}" data-their-champ="{{champId}}"></canvas> {{!TODO: global pointer to my champ}}
            </div>
          </div>
        </div>
      {{/each}}
    </div>
    <div class="teamSeparator"></div>
    <div class="enemy team ">{{!ooooo how I hate them}}
      {{#each enemyTeam}}
        <div class="champCard">
          <div class="top">
            <div class="champPic" title="{{champName champId}}">
              <img src="{{champSprite champId}}"/>
            </div>
            <div class="stats">
              <div class="name">{{name}}</div>
              <div class="currentOdds">{{updatingOdds ../myChampId champId ../startTime}}%</div>
              <div class="itemSuggestions">
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
              </div>
            </div>
          </div>
          <div class="bottom">
            <div class="chartContainer">
              <div data-chart-marker class="chartMarker"></div>
              <canvas class="chart" height="60px" data-chart-odds data-my-champ="{{../myChampId}}" data-their-champ="{{champId}}"></canvas> {{!TODO: global pointer to my champ}}
            </div>
          </div>
        </div>
      {{/each}}
    </div>
</div>